* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
  max-width: 100%;
}
/* CLASSI HEADER  */
header {
  min-height: 80px;
  min-width: 900px;
  background-color: #3161e0;
  justify-content: center;
}
.jumbotrone {
  text-align: center;
  background-image: url(./img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

/* CLASSI PARAGRAFI */
#first-p {
  margin-bottom: 25px;
}
#second-p {
  margin-top: 25px;
  font-size: 0.9rem;
}

/* classi di DEBUG */
.debug {
  border: 2px dotted red;
}

.logo,
.link,
.login {
  color: white;
}
.logo {
  width: 25%;
}
li {
  list-style: none;
}
.link {
  width: 50%;
  text-align: center;
}
.login {
  width: 10%;
}
/* CLASSI BOTTONI */
.button-white {
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
}
.button-black {
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: 1px solid black;
}
.button-light-blu {
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgb(125, 182, 228);
  color: white;
  border: 1px solid;
  margin-bottom: 100px;
}
/* CLASSI DI POSIZIONE */
.flex-column {
  flex-direction: column;
}

.flex {
  display: flex;
}
.align-itemscenter {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}
/* CLASSI CONTENITORI */
.container {
  min-width: 900px;
  min-height: 400px;
}
.container-small {
  min-width: 900px;
}
.container-big {
  min-width: 900px;
  min-height: 800px;
  justify-content: center;
}
.container-footer {
  min-height: 80px;
  min-width: 1180px;
}
/* CLASSI FONT */
.b-font {
  font-size: 3rem;
}
.m-font {
  font-size: 1.2rem;
}

.main-title {
  margin-bottom: 50px;
  font-size: 3rem;
}
.secondary-title {
  font-size: 2.4rem;
}
.last-font {
}

/* CLASSI BACKGROUND */
.azzurro {
  background-color: #3161e0;
}
.blu {
  background-color: blue;
}
.gray {
  background-color: lightgray;
}
.orange {
  background-color: rgb(255, 175, 69);
}

.black {
  background-color: black;
}
.acqua {
  background-color: rgb(109, 184, 216);
}
.cyan {
  color: #738adc;
}
/* CLASSI BOX */
.box-1 {
  width: 500px;
}

.box-2 {
  width: 200px;

  margin-top: 20px;
}

.big-section {
  text-align: center;
  margin-top: 100px;
}
.box-4 {
  width: 500px;
}
.box-3 {
  width: 200px;
  color: #3161e0;
}

.col-1 {
  width: 25%;
  /* height: 100%; */
}
.col-2 {
  width: 25%;
  height: 100%;
}

.col-3 {
  width: 25%;
  height: 100%;
}

.col-4 {
  width: 25%;
  height: 100%;
}

.logo-2 {
  width: 60px;
  height: 20px;
  text-align: center;
}

.bottone {
  width: 60px;
  height: 20px;
  text-align: center;
}

.footer {
  width: 700px;
  min-height: 80px;
  margin-top: 20px;
}
.ita-flag {
  width: 20px;
  margin: 50px;
}
